@model WebApp4.Models.MgAnaUbicazioni

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MgAnaUbicazioni</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MgauCodice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MgauCodice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MgauCodCompl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MgauCodCompl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MgauDescr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MgauDescr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MgauTreeCtrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MgauTreeCtrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MgauDataIns)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MgauDataIns)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MgauLivello)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MgauLivello)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.MgauMbmg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MgauMbmg.MbmgCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MgauId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
